.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  
    background-color: #313131; 
    color: white;
    font-family: 'Platypi', sans-serif;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}


.banner .links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;  
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 5px 0;
    transition: all 200ms linear;
}

.banner .links a:hover, .banner .links a:focus {
    color: #aa8dd6;  
    transform: scale(1.1); 
    text-decoration: none; 
}

.banner .links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;  
    height: 2px;
    background-color: #8167a9;  
    transition: width 200ms linear;
    opacity: 0;  
}

.banner .links a:hover::after, .banner .links a:focus::after {
    width: 100%; 
    opacity: 1;  
}


.logo img {
    height: 50px;  
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.logo-and-title img {
    height: 50px; 
    margin-right: 10px;
}

.logo-and-title h2 {
    font-size: 24px; 
    margin: 0; 
}


.logo-and-title, .links {
    display: flex;
    align-items: center;  
    transition: transform 0.3s ease;
}

.logo-and-title img, .links a {
    transition: transform 0.3s ease;
    cursor: pointer;  
}

.logo-and-title:hover, .links a:hover {
    transform: scale(1.2);
    z-index: 1;  
}

