.genre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Platypi', sans-serif;
    background-color: #181818;
    background-position: 50%;
    background-size: 1090px;
    color: white;   
    width: 100%;
    z-index: 0;
    
}

.GenreSelector {
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/stars.png");
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden; 
    z-index:1 ;
}

.label {
    font-size: 3vw; 
    text-align: center; 
    margin-bottom: 10px; 
    text-shadow: 0px 0px 20px #9B59B6;
    animation: glow 3s ease-in-out infinite alternate; 
    z-index: 10;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0px 0px 40px #ccb3d6;
    }
    50% {
        text-shadow: 0px 0px 40px #F5EEF8;
    }
}

.select {
    margin-top: 1.4vh;
    font-size: 2.5vw;
    color: rgba(181, 181, 181, 0.559); /* Text color inside dropdown */
    width: auto;  
    font-family: 'Platypi', sans-serif;
    background-color: transparent;
    border-bottom: #9B59B6;
    border: 0;
    font-style: italic;
    text-align-last:center;
    z-index: 10;

}


/* Media Queries for different screen widths */
@media (min-width: 768px) {
    .label-select-container {
        flex-direction: row; 
        width: auto; 
    }

    .label {
        margin-bottom: 0; 
        margin-right: 10px; 
    }

    .select {
        width: auto; 
    }
}


.hooksMain {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: url('#goo');
    overflow: hidden;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 0;
  }
  
  .hooksMain > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    background: rgb(205, 138, 238);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
    z-index: 0;
  }
  
  .hooksMain > div:nth-child(1) {
    width: 80px;
    height: 80px;
  }
  
  .hooksMain > div:nth-child(2) {
    width: 145px;
    height: 145px;
  }
  
  .hooksMain > div:nth-child(3) {
    width: 95px;
    height: 95px;
  }
  
  .hooksMain > div::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .hooksMain > div:nth-child(2)::after {
    top: 35px;
    left: 35px;
    width: 35px;
    height: 35px;
  }
  
  .hooksMain > div:nth-child(3)::after {
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
  }
  