/* LandingPage.css */
.landing-page {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/landing-background.png') ; 
    background-size: cover;
    color: white; 
    scroll-snap-align: start; 
    font-family: 'Platypi', sans-serif;
  }
  
  .landing-page-content {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }
  
  .landing-page-content h1 {
    font-size: 5vw;
    margin-bottom: 20px;
    animation: glow 2s infinite alternate;
    transition: transform 1s ease; 
  }
  
  .landing-page-content p {
    font-size: 1.4vw;
    margin-bottom: 10vh;
    color: rgb(62, 12, 63);
  }

  .scroll-arrow {
    margin-top: 20px; 
    width: 5vw;
  }

  .landing-page-content h1:hover {
    transform: scale(1.1);
    z-index: 1;  
  }

  @keyframes glow {
    to {
        text-shadow: 0 0 40px rgb(191, 178, 187);
    }
}

