html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  overflow-x: hidden;
}

.page {
  position: relative;
  height: 100vh;  /* This should ensure that each .page takes only the height of the viewport */
  width: 100%;  /* Ensures the page takes full width */
  
}

.page-section {
  position: sticky;
  top: 0;
  height: 100vh;  /* Ensures each section does not exceed the viewport height */
  width: 100vw;  /* Covers full width */
}

.landing-page-content {
  transition: opacity 0.5s ease, transform 0.75s ease;
}